<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/logo.ico">
    <title>I love Rock</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <script src="js/ie-emulation-modes-warning.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <link href="styles/carousel.css" rel="stylesheet">
  </head> 
<!-- NAVBAR
================================================== -->
  <body>
  <!-- reproduce el audio al cargar la pagina 
    <audio src="audio/If_There_Was_No_Music.mp3" autoplay></audio>-->

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">I love Rock</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="series_rock.html">Series</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bandas de Rock<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="big_time_rush.html">Big Time Ruh</a></li>
                    <li class="divider"></li>
                    <li><a href="coldrain.html">Coldrain</a></li>
                    <li class="divider"></li>
                    <li><a href="kiss.html">KISS</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
       <br><br>
       <br><br>
       <br>
    <div class="container">
      <div class="row">
        <legend><span class="label label-default">How to Rock</span></legend>
        <div class="col-md-4">
          <img src="images/HowtoRock.png" alt="How to Rock" class="img-rounded img-responsive">
        </div>
        <div class="col-md-8">
          <p><strong>How to Rock</strong> es una serie de television original de <a href="http://co.mundonick.com/">Nickelodeon</a>. Esta protagonizada por Cymphonique Miller como Kacey Simon. La serie esta basada en el libro de 2011 How to Rock Braces and Glasses de Meg Haston publicado por Little, Brown Books for Young Readers y Alloy Entertainment. La serie fue elegida oficialmente el 23 de mayo de 2011 (con un orden de 20 episodios, mas tarde aumento a 26) y la produccion comenzo en agosto de 2011. Se trata de la primera serie de television, que sera producida por Alloy Entertainment. La promocion se estreno con Merry Christmas, Drake & Josh el 10 de diciembre de 2011. La serie se estreno el 4 de febrero de 2012, que atrajo a 3.3 millones de espectadores.</p>
          <blockquote>
            <small>From:<cite title="http://en.wikipedia.org/wiki/How_to_Rock">Wikipedia, the free encyclopedia</cite></small>
          </blockquote>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-11">
          <table class="table table-bordered table-hover table-condensed">
            <legend>Datos de Canciones por Episodio</legend>
            <tr>
              <td>"Only You Can Be You" - Gravity 5 </td>
              <td>"Rules for Being Popular" - The Perfs</td>
              <td>"I'll Be There" - Kacey Simon</td>
            </tr>
            <tr>
              <td>"Hey Now" - Gravity 5</td>
              <td>"Go With Gravity" - Gravity 5</td>
              <td>"Good Life" - Gravity 5</td>
            </tr>
            <tr>
              <td>"Music Sounds Better With U" - <a href="big_time_rush.html">Big Time Rush</a></td>
              <td>"Today's School News/You Want News, Babe" - Gravity 5 </td>
              <td>"Move With the Crowd" - Gravity 5 </td>
            </tr>
            <tr>
              <td>"Rock with Me" - Gravity 5</td>
              <td>"How You Do It" - Gravity 5</td>
              <td>"Me, Myself and I" - Gravity 5</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <legend><br><br><span class="label label-info">Big Time Rush</span></legend>
        <div class="col-md-4">
          <img src="images/bigtime.jpg" alt="Big Time Rush" class="img-rounded img-responsive">
        </div>
        <div class="col-md-8">
          <p><strong>Big Time Rush</strong> es una boy band estadounidense creada y lanzada por <a href="http://co.mundonick.com/">Nickelodeon</a> Viacom Music y TV Productions, que firmo un contrato discografico en 2009, y fue hecho conocida en la serie de television, Big Time Rush. La banda consiste en cuatro amigos en la vida real: Kendall Schmidt, James Maslow, Carlos Pena, Jr. y Logan Henderson. La banda estuvo nominada por Mejor Grupo Musical en los Kids Choice Awards desde el a&ntilde;o 2011 hasta el 2013, ganando en el 2012. En 2012 la banda tambien gano Mejor Artista Internacional en los Kids Choice Awards Argentina. La banda fue nominada a los Premios TCA 2013 como mejor grupo musical.
          El 31 de marzo de 2011, Big Time Rush es confirmado por MTV, como el nuevo artista PUSH del mes, con esto se exhibe durante un mes la cancion "Boyfriend" en dueto con Snoop Dogg, para promocionar a la banda en el mundo musical fuera de Estados Unidos, En 2012 se prepararon para iniciar su primer tour oficial llamado Better With U Tour, que dio inicio en febrero de 2012. Hicieron una aparicion especial en The Ellen DeGeneres Show en enero de 2012, promocionando el album Elevate, con el cual obtuvieron Disco de Oro en Mexico.</p>
          <blockquote>
            <small>From:<cite title="http://en.wikipedia.org/Big_Time_Rush_(banda)">Wikipedia, the free encyclopedia</cite></small>
          </blockquote>
        </div>
        <div class="row-fluid">
          <div class="col-md-11">
            <table class="table table-bordered table-hover table-condensed">
              <legend>Datos de Canciones por Episodio</legend>
              <tr>
                <th>Albunes</th>
                <th>Sencillos</th>
              </tr>
              <tr>
                <td>2010: B.T.R</td>
                <td>Boyfriend</td>
              </tr>
              <tr>
                <td>2011: Elevate</td>
                <td>Elevate</td>
              </tr>
              <tr>
                <td>2013: 24/Seven</td>
                <td>Music Sounds Better With U</td>
              </tr>
              <tr>
                <td></td>
                <td>Windows Down</td>
              </tr>
              <tr>
                <td></td>
                <td>24/Seven</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <legend><br><br><span class="label label-info">Hollywood Height</span></legend>
          <div class="col-md-4">
            <img src="images/hollywood.jpg" alt="Hollywood height" class="img-rounded img-responsive">
          </div>
          <div class="col-md-8">
            <p><strong>Hollywood Heights</strong> es una serie de television de Estados Unidos, de genero de drama que se estreno el 18 de junio de 2012 en Estados Unidos. esta es una adaptacion de la telenovela mexicana de Televisa, Alcanzar una estrella (Jesús Calzada, 1990). La serie sigue la vida de una adolescente cuya vida cambia drásticamente cuando se convierte en una estrella y se gana el amor de su ídolo de rock and roll, y ambos se ponen a prueba por los contratiempos, el desamor y el enga&ntilde;o. La primera temporada de la serie de 80 episodios se emite entre semana a las 9:00pm en Estados Unidos hasta octubre de 2012. Los productores ejecutivos del espectáculo son Jill Farren-Phelps y Abed Hisham, y el jefe de guionistas y co-productor ejecutivo es Josh Griffith. Desde 13 de agosto la serie se emitira por el canal TeenNick. En Latinoamerica la serie se estreno el 27 de enero de 2014 por MTV Latinoamerica, bajo el nombre de <strong>Alcanzar una estrella</strong>.</p>
            <blockquote>
              <small>From:<cite title="http://en.wikipedia.org/wiki/Hollywood_Heights_(TV_series)">Wikipedia, the free encyclopedia</cite></small>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>