<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/logo.ico">
    <title>I love Rock</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <script src="js/ie-emulation-modes-warning.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <link href="styles/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">I love Rock</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="series_rock.html">Series</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bandas de Rock<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="big_time_rush.html">Big Time Ruh</a></li>
                    <li class="divider"></li>
                    <li><a href="coldrain.html">Coldrain</a></li>
                    <li class="divider"></li>
                    <li><a href="kiss.html">KISS</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <video src="videos/KISS.mp4" class="video" height="360" width="90%" controls></video>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <center>
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-12">
            <h2>Kiss</h2>
            <p><strong>"Rock and Roll All Nite"</strong> is a song by Kiss, originally released on their 1975 album Dressed to Kill. It was released as the A-side of their fifth single, with the album track "Getaway." The studio version of the song peaked at No. 57 on the Billboard singles chart, besting the band&#39;s previous charting single, "Kissin&#39; Time". A subsequent live version, released as a single in October 1975, eventually reached No. 12 in early-1976, the first of six Top 20 songs for Kiss in the 1970s. "Rock and Roll All Nite" became Kiss&#39;s most identifiable song and has served as the group&#39;s closing concert number in almost every concert since 1976.</p>
            <p>"Rock and Roll All Nite" was written by Paul Stanley and Gene Simmons while Kiss was still in Los Angeles, as part of their Hotter Than Hell tour although during the group&#39;s concert at Cobo Hall in Detroit on January 26, 1976, Stanley introduces it as a song that was written in and for Detroit. The tour ended early (February 1975), when Casablanca Records founder and president Neil Bogart ordered Kiss to return to the studio to record a follow up to Hotter Than Hell, which had stalled on the charts and failed to meet Casablanca&#39;s sales expectations. One of Bogart&#39;s instructions to the band was to compose an anthem, something he felt the band needed. The song itself was inspired by the Slade song "Cum on Feel the Noize", and is often referred to as the Rock And Roll National Anthem (for instance, Stanley states during Kiss&#39; performance at the 1996 MTV Video Music Awards that "there&#39;s only one nation, that&#39;s Kiss Nation, there&#39;s only one Rock & Roll national anthem: Rock and Roll All Nite, party everyday!")</p>
            <p>While "Rock and Roll All Nite" would eventually become a fixture in Kiss&#39;s live performances, it was not inserted into the band&#39;s setlist immediately. Nor did it immediately replace "Let Me Go, Rock &#39;n&#39; Roll" as the closing number. Kiss performed the song during the closing ceremonies for the 2002 Winter Olympics in Salt Lake City which proved to be Ace Frehley&#39;s final performance with Kiss to date. They also performed the song live with Adam Lambert during the season 8 finale of American Idol, on May 20, 2009 at the Nokia Theater in Los Angeles.</p>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </center>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
</html>